VITE_API_TARGET=deploy
VITE_API_LOCAL_URL=https://localhost:7223
VITE_API_DEPLOY_URL=https://be-mos-excel-grade.onrender.com
VITE_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
