VITE_API_TARGET=deploy
VITE_API_LOCAL_URL=https://localhost:7223
VITE_API_DEPLOY_URL=https://api.mos-grader-app.info.vn
VITE_API_BASE_URL=https://api.mos-grader-app.info.vn
VITE_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
VITE_LOCAL_AGENT_BASE_URL=http://localhost:5286
VITE_LOCAL_AGENT_API_KEY=DEV_LOCAL_AGENT_KEY_CHANGE_ME
